#main{
  width:800px;margin-left:120px; margin-right:auto;
}
#div_output{
  float: left;
  width:800px;
  height:430px;
}
#ta_output {
  width:800px;
  height:400px;
  resize: none;
}

 body{
    font-family:sans-serif;
    background-color: #d4d8f3;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

textarea{
  font-family:sans-serif;
  font-size: 12;
  background-color: #FFF;
  border: 1px solid #05A;
}